*{
	margin: 0;
	padding: 0;
	font-size: 14px;
}

body{
	background-color:#F1F1F1;
}

.frame{
	background-color:#fff;
	width: 800px;
	margin: 0 auto 0 auto;
}

#banner{
	height: 100px;
}

#navigation{
	position:relative;
	top:80px;
	left:10px
}

#userinfo{
	float:right;
	margin: 5px;
}

#main{
	min-height:600px;
	width: 760px;
	padding: 10px 20px;		
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}

input.button, a.button{
	font-size: 12px;
	font-weight: bold;
}

a.s_button{
	
}

.h_title{
	border-bottom: 1px solid #000;
	padding: 5px 10px;
}

.m_content{
	text-align: center;
	padding: 10px;
}